<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />

        <rewrite>
            <rules>
                <!-- Prevent rewrite for assets folder -->
                <rule name="Ignore Assets" stopProcessing="true">
                    <match url="^Assets/" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- Send everything else to index.php -->
                <rule name="Send All To Public" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>

                <!-- Optional: More efficient rule that only rewrites non-files/directories -->
                <!--
                <rule name="Rewrite Non-File-Requests" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
                -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>